logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/public/UploadedFiles/obj/*.obj
/public/UploadedFiles/stl/*.stl
.sbtserver
.sbtserver/master.log

*.log

*.log

*.log

.sbtserver/master.log

*.log

*.log

.sbtserver/previous.log

*.log

*.log

.sbtserver/connections/master.log

project/.sbtserver
